<!-- このHTMLファイルは作成しているバックエンド側の動作確認のために一時的に作成したファイルです。 -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EchoLingo</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <form action="/rules" method="post">
        <button type="submit">Rules</button>
    </form>
    <form action="/gamesession" method="post">
        <button type="submit">Start</button>
    </form>     
    </form> 
   <p>
        <div th:text="${message}" />
   </p>
</body>
</html>