@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

body {
  font-family: 'Kalam', sans-serif;
  background-color: #FBF3BA;
  display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
}


.neumobutton {
  width: 300px;
  height: 100px;
  border-radius: 57px;
  background: #53a296;
  box-shadow: 10px 10px 5px #428278, -10px -10px 5px #64c2b4;
}


.neumobutton:active {
  box-shadow: inset 10px 10px 5px #428278, inset -10px -10px 5px #64c2b4;
}

.card-wrong {
  width: 150px;
  height: 100px;
  border-radius: 10px;
  background: #db605f;
  box-shadow: 7px 7px 5px #af4d4c,-7px -7px 5px #ff7372;
}


.card-wrong:active {
  box-shadow: inset 10px 10px 5px #af4d4c, inset -10px -10px 5px #ff7372;
}

.card-right {
  width: 150px;
  height: 100px;
  border-radius: 10px;
  background: #20a095;
  box-shadow: 7px 7px 5px #1a8077, -7px -7px 5px #26c0b3;
}


.card-right:active {
  box-shadow: inset 10px 10px 5px #1a8077, inset -10px -10px 5px #26c0b3;
}

.card-asasin {
  width: 150px;
  height: 100px;
  border-radius: 10px;
  background: #4a4e4d;
  box-shadow: 7px 7px 5px #3b3e3e, -7px -7px 5px #595e5c;
}


.card-asasin:active {
  box-shadow: inset 10px 10px 5px #3b3e3e, inset -10px -10px 5px #595e5c;
}

.card-slang{
  width: 150px;
  height: 100px;
  border-radius: 10px;
  background: #FBF3BA;
  box-shadow:  10px 10px 5px #d5cf9e, -10px -10px 5px #ffffd6;
}


.card-slang:active {
  box-shadow: inset 10px 10px 5px #d5cf9e, inset -10px -10px 5px #ffffd6;
}

.rotate{
  animation-name:rotateYAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
}

@keyframes rotateYAnime{
  from{
    transform: rotateY(0);
    }
  to{
    transform: rotateY(-180deg);
    }
}

.pressme{
  width: 180px;
  height: 60px;
  border-radius: 45%;
  background: #53a296;
  box-shadow: 10px 10px 5px #428278, -10px -10px 5px #64c2b4;
}

.pressme:active {
  box-shadow: inset 10px 10px 5px #428278, inset -10px -10px 5px #64c2b4;
}

.balloonSlang{
  position: relative;
  padding: 0.8rem 0;
  margin-bottom: 0.2rem;
  border-bottom: 3px solid;
  color: black;
  font-weight: bold;
  text-align: center;
  height:60px;
  width: 400px;
}

.balloonSlang:before,

.balloonSlang:after {
  position: absolute;
  top: 100%;
  left: 50%;
  content: "";
  height: 0;
  width: 0;
}

.balloonSlang:before {
  border: 16px solid;
  border-color: transparent;
  border-top-color: black;
  margin-left: -16px;
}

.balloonSlang:after {
  border: 12px solid;
  border-color: transparent;
  border-top-color:#FBF3BA ;
  margin-left: -12px;
}

.balloonTips{
  position: relative;
  padding: 1rem 1rem 1rem 1.5rem;
  border: 3px solid #333;
  font-weight: bold;
  margin-left: 150px;
  margin-top:10px;
  height: 100px;
  width: 1000px;
}

.balloonTips:before,

.balloonTips:after {
  position: absolute;
    bottom: 100%;
    left: 83%;
    height: 0;
    width: 0;
    border: solid transparent;
    content: "";
}

.balloonTips:before {
  margin-left: -16px;
  border-color: transparent;
  border-bottom-color: #333;
  border-width: 16px;
}

.balloonTips:after {
  margin-left: -12px;
  border-color: transparent;
  border-bottom-color: #FBF3BA;
  border-width: 12px;
}

.selected{
  width: 1000px;
  height: 110px;
}

.cards{
  width: 1000px;
  height:500px;
}

.talkMaster{
  position: relative;
  padding: 1rem 1rem 1rem 1.5rem;
  border: 3px solid #333;
  font-weight: bold;
  /* margin-left: 150px;
  margin-top:10px; */
  height: 200px;
  width: 1000px;
}

.talkMaster:before,

.talkMaster:after {
  position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    border: solid transparent;
    content: "";
}

.talkMaster:before {
  margin-top: -16px;
  border-color: transparent;
  border-right-color: #333;
  border-width: 16px;
}

.talkMaster:after {
  margin-top: -12px;
  border-color: transparent;
  border-right-color: #FBF3BA;
  border-width: 12px;
}

.talkPlayer{
  position: relative;
  padding: 1rem 1rem 1rem 1.5rem;
  border: 3px solid #333;
  font-weight: bold;
  /* margin-left: 150px;
  margin-top:10px; */
  height: 200px;
  width: 1000px;
}

.talkPlayer:before,

.talkPlayer:after {
  position: absolute;
    top: 100%;
    left: 83%;
    height: 0;
    width: 0;
    border: solid transparent;
    content: "";
}

.talkPlayer:before {
  margin-left: -16px;
  border-color: transparent;
  border-top-color: #333;
  border-width: 16px;
}

.talkPlayer:after {
  margin-left: -12px;
  border-color: transparent;
  border-top-color: #FBF3BA;
  border-width: 12px;
}

.contactForm {
  margin: -20px 0;
}

.formField {
  position: relative;
  margin: 32px 0;
}

.inputText {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-family: 'Lusitana', serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.inputText:focus {
  outline: none;
}

.inputText:focus + .label,
.inputText.not-empty + .label {
  transform: translateY(-24px);
}

.label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: 'Lusitana', serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
  cursor: text;
  transition: transform 0.2s ease-in-out;
}